{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.paperurl }}">{{ title }}</a>
    </h2>
  
    {% for author in post.authors %}
      {% if {{author}} == site.title %}
        {% assign auth = author | append: "</b>" | prepend: "<b>" %}
      {% else %}
        {% assign auth = author %}
      {% endif %}
      {% if {{forloop.index}} == {{forloop.length}} %}
        and {{auth}}.
      {% else %}
        {% if {{forloop.length}} < 3 %}
          {{auth}}
        {% else %}
          {{auth}},
        {% endif %} 
      {% endif %}
    {% endfor %}

    <br/>
    {% capture nowtime %}{{'now' | date: '%s'}}{% endcapture %}
    {% capture pubtime %}{{post.date | date: '%s'}}{% endcapture %}
    {% if nowtime < pubtime %}
      To be published at 
    {% else %}
      Published at 
    {% endif %}
    {{ post.venue }} {{ post.date | date: "%Y" }}.
    <br/>
    {% if post.paperurl %}
      [<a href=" {{ post.paperurl }} ">PDF</a>]
    {% endif %}
    {% if post.aclanthology %}
      [<a href=" https://aclanthology.org/{{ post.aclanthology }} ">ACL Anthology</a>]
    {% endif %}
    {% if post.iscaarchive %}
      [<a href=" https://www.isca-speech.org/archive/{{ post.iscaarchive }} ">ISCA Archive</a>]
    {% endif %}
    {% if post.arxiv %}
      [<a href=" https://arxiv.org/abs/{{ post.arxiv }} ">arXiv</a>]
    {% endif %}
    {% if post.poster %}
      [<a href=" {{ post.poster }} ">Poster</a>]
    {% endif %}
    {% if post.bibtex %}
      {% if post.aclanthology %}
        [<a href=" https://aclanthology.org/{{ post.bibtex }} ">BibTeX</a>]
      {% else %}
        [<a href=" {{ post.bibtex }} ">BibTeX</a>]
      {% endif %}
    {% endif %}
    {% if post.software %}
      [<a href=" {{ post.software }} ">Software</a>]
    {% endif %}
    {% if post.blog %}
      [<a href=" {{ post.blog }} ">Blog</a>]
    {% endif %}

    {% if post.abstract %}
      <details>
        <summary>View abstract</summary>
        {{post.abstract}}
      </details>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

  </article>
</div>
